.log-bt{
    font-size: 20px;
    color: #10865d;
    cursor: pointer;
}

.placeStyle{
    background-color: rgb(218, 218, 218) !important;
    color: black !important;
    border-radius: 15px !important;
    padding:  20px 0px 20px 10px !important;
}