.img-category{
    /* width: 25%; */
    height: 50px;
    /* border-radius: 10px; */
    padding-top: 10px;
}

.img-border{
    /* border: 5px solid#87e2c2; */
    border-radius: 30px !important;
    text-align: center;
    height:130px;
}
.col-pad{
    padding:10px;
}
.col-width{
-webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
-moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
border-radius: 50px;
padding: 30px; 
}



@media only screen and (max-width: 768px) {
    
    .row.row-cols-5.col-width {
        box-shadow: 3px 3px 5px 6px #ccc;
        border-radius: 20px;
        padding: 30px;
    }
    
  }

.img-effect{
    -webkit-box-shadow: 2px 2px 2px 2px rgba(54, 61, 55, 0.445); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    2px 2px 2px 2px rgba(54, 61, 55, 0.445);  /* Firefox 3.5 - 3.6 */
    box-shadow:         2px 2px 2px 2px rgba(54, 61, 55, 0.445);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    padding: 11px; 
    border-radius: 25px;
}


.con-style{
    margin-top:-100px;
    background-color: white;
    border-radius: 50px;
}

/* **************Modal****** */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: rgb(29, 72, 114) !important;
    background-color: rgba(51, 102, 154, 0.125) !important;
}

.content-border:hover{
    /* border: 1px solid rgba(88, 167, 110, 0.808) !important;
    margin-top: 5px;
    border-radius: 10px; */
    background-color: rgba(101, 179, 159, 0.527) !important;
}
.content-border{
    padding-top: 10px;
}

a {
    color: #2c2c2c !important;
    text-decoration: none;
    background-color: transparent;
}

.modal-header {
    border-bottom: none !important;
}
.modal-footer{
    border-top: none !important;
}
.modal-content{
    border-radius: 30px !important;
}
.modal-title {
    margin: 0 auto;
    text-align: center !important;
    width: 100%;
    font-size: 17px !important;
}
.modal-body {
    padding-bottom: 0rem !important;
}
.Bg-a{
    background-color: rgba(149, 194, 175, 0.315);
    padding-top: 10px;

}
.Bg-b{
    background-color: rgb(255, 255, 255);
}

